@import "../../styles/variables.scss";

.character-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-length__value {
  color: $primary;
  font-size: 1.5rem;
}

