@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.generated-password {
  position: relative;
}

.container {
  @include item-app($color: $grey, $font-size: 1.7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.password-active {
  color: $white;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.icon-copy {
  color: $white !important;
  transform: scale(110%);
}

.icon-active {
  color: $primary;
  transition: 0.2s;
  backface-visibility: hidden;

  &:hover {
    color: $white;
    transform: scale(110%);
  }
}

.text-copy {
  background: $bg-dark-light;
  padding: 1rem;
  position: absolute;
  z-index: 0;
  top: 1.5rem;
  right: 0;
  font-size: 1rem;
  color: $white;
  transform: rotate(90deg);
  animation: moveRight 0.3s;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(0) rotate(90deg);
  }

  100% {
    transform: translateX(4rem) rotate(90deg);
  }
}
