//Font
$font-main: 'Press Start 2P', cursive;
$font-minor: 'Rubik', sans-serif;

//Size
$default-size: 10px;

//Color
$bg-dark: #0e0d13;
$bg-dark-light: #24232b;
$white: #fff;
$primary: #a9f3b0;
$grey: #868396;
$active: #f0cd70;
