@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.title {
  @include item-app(
    $color: $grey,
    $bg: none,
    $padding: none,
    $font-size: 1.5rem
  );

  text-align: center;
}
